/* -------------
    Global Style 
   --------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-weight: 600;
  font-family: "Volkhov", serif;
  text-transform: capitalize;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Volkhov", serif;
  text-transform: capitalize;
}
li {
  list-style: none;
}
p {
  text-align: justify;
  margin: 20px 0;
}

/* ---------------
*/
body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
  padding: 35px 15px;
}
.btn {
  line-height: 1.5;
  padding: 10px 28px;
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  overflow: hidden;
  background-color: #f88064;
  color: aliceblue;
  margin-top: 10px;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}
section {
  margin-top: 60px;
}
.home-section {
  display: flex;
}
.home-content {
  max-width: 50%;
}
.home-section .heading {
  border-left: 5px solid #2db1ea;
  border-radius: 5px;
}
.home-content h1 {
  margin-left: 2%;
  font-size: 50px;
}
span {
  color: #2db1ea;
}

.home-img {
  max-width: 50%;
  display: block;
  text-align: center;
}
.home-img img {
  max-width: 60%;
}
.content {
  margin: 20px 20px 20px 0;
}
.home-section .btn {
  margin-bottom: 20px;
}
/*----------------
misson section
-------------*/

.mission-section h2,
.contact-section h2:first-child {
  font-size: 45px;
  text-align: center;
}
.mission h4 {
  font-size: 25px;
}

.mission {
  display: flex;
  margin-top: 50px;
}
.mission-section .mission-item {
  max-width: 33%;
  border-radius: 10px;
  margin-right: 3%;
  padding: 15px;
}

.mission-section .mission-one {
  background-color: beige;
}
.mission-section .mission-one h4 {
  margin-top: 40px;
}
.mission-section .mission-two {
  background-color: bisque;
}
.mission-section .mission-three {
  background-color: burlywood;
  margin-right: 0;
}
.mission-section .mission img {
  max-width: 50%;
}
.mission-section .mission-one.mission img {
  max-width: 100%;
}
.mission-section p {
  font-size: 14px;
}
.about-section .row {
  display: flex;
  margin-top: 80px;
}

.about-section .about-content {
  max-width: 60%;
}
.about-section .about-img {
  max-width: 40%;
}
.about-section .about-img img {
  max-width: 80%;
}
.about-section .about-img:last-child {
  text-align: right;
}
.about-section h2 {
  font-size: 25px;
  margin-top: 110px;
  text-transform: capitalize;
}
/* ----------
contact style
-------------*/

.contact {
  display: flex;
  overflow: hidden;
}
.contact-section h2 {
  font-size: 45px;
}
.contact-form {
  max-width: 50%;
}
.contact-info {
  max-width: 50%;
}
.contact-section .input-grp {
  display: block;
  width: 400px;
  padding: 15px 10px;
  margin: 30px;
  border-radius: 20px;
  border: 1px solid#f88064;
}
.contact-section .contact-info {
  padding: 20px;
  margin: 50px;
}
.contact-section h4 {
  font-size: 20px;
}
.contact-section p {
  margin: 0 0 20px 0;
}
.contact-section .contact-info small {
  margin-top: 20px;
}
.contact-section .btn {
  margin-left: 40px;
  margin-top: -5px;
}
.footer-section {
  text-align: center;
  background-color: #f88064;
  color: white;
  padding: 15px 0;
  margin: 30px -20px -50px -20px;
}
.footer-section span {
  color: black;
}
.footer-section p {
  text-align: center;
  margin: 10px 0;
}
